@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Klee+One&family=Nanum+Gothic:wght@400;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
h1 {
  text-transform: capitalize;
}
.main {
  width: 100%;
  min-height: 100vh;
}
.main-nav {
  display: flex;
  justify-content: space-around;
  color: #000;
  background-color: #fff;
  height: 11vh;
  text-transform: capitalize;
  position: sticky;
  padding-top: 2rem;
  top: 0;
}
.active-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  background-color: #000;
  height: 11vh;
  text-transform: capitalize;
  position: sticky;
  padding-top: 2rem;
  top: 0;
}
@media screen and (min-width: 1200px) {
  /*Header component*/
  .main-nav {
    height: 8vh;
  }
  .active-nav {
    height: 12vh;
  }
}
@media screen and (max-width: 1024px) {
  /*Header component*/
  .active-nav {
    flex-direction: column;
    align-items: center;
    height: 22vh;
  }
}
@media screen and (max-width: 768px) {
  /*Header component*/
  .main-nav {
    flex-direction: column;
    align-items: center;
    height: 16vh;
  }
  .active-nav {
    flex-direction: column;
    align-items: center;
    height: 22vh;
  }
}
@media screen and (max-width: 418px) {
  /*Header component*/
  .main-nav,
  .active-nav {
    height: 26vh;
  }
}
@media screen and (max-width: 280px) {
  /*Header component*/
  .main-nav {
    flex-direction: column;
    align-items: center;
    height: 16vh;
  }
  .active-nav {
    flex-direction: column;
    align-items: center;
    height: 16vh;
  }
}
